DATABASE_URL=

WK_BASE_URL=

WK_EMPRESA=
WK_USUARIO=
WK_SENHA=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

EVOLUTION_API_URL=
EVOLUTION_INSTANCE=
EVOLUTION_API_KEY=

MODO_SIMULACAO=
DIA_ENVIO_CONTRACHEQUES=
PORT=